html,
body {
  height: 100%;
}

body {
    padding-top: 56px;
    background-color: #edeff1;
}

/**
 * Bannière
 */

.banner {
    width: 100%;
    color: #fff;
    background-color: #007bff;
    background-position: center;
    padding: 60px 0 70px 0;
    text-align: center;
}

.banner cite {
    color: #d7d7d7;
}

/**
 * Formulaire de connection et d'inscription
 */

.form-sign {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 80px;
}

.form-sign .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-sign .form-control:focus {
    z-index: 2;
}

.form-sign input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-sign input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/**
 * Modal tenor
 */

.tenor_container_image img {
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid transparent;
}

.tenor_container_image img:hover {
    border-color: #0069D9;
}
